<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokedex.name %>
</p>

<p>
  <strong>Element:</strong>
  <%= @pokedex.element %>
</p>

<%= link_to 'Edit', edit_pokedex_path(@pokedex) %> |
<%= link_to 'Back', pokedexes_path %>
